@import '../../../assets/main.scss';

.recommendation{
  width: 40%;
  background-color: $red;
  padding: 2px 0;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;

  &__title{
    margin: 0;
    font-size: $mediumFont;
    font-weight: $lightWeight;
    color: $white;
  }

  &__list{
    list-style: none;
    padding: 0;

    &_item{
      margin: 5px 0;
      font-size: $mediumFont;
      color: $white;
    }
  }
}

.pizza-img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
}